@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #2a1b17;
  --maxw: 1120px;
}

* {
  box-sizing: border-box
}

html,
body {
  height: 100%
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Noto Naskh Arabic UI", "Noto Sans Arabic", Arial, "Helvetica Neue", sans-serif;
  background: radial-gradient(80% 60% at 70% 10%, #dfd2c7 0, #efe9e5 40%, #e5dbd3 70%, #d9cfc8 100%);
  color: var(--text);
  line-height: 1.7;
}

.wrap {
  max-width: var(--maxw);
  margin: 0px auto;
  padding: 12px
}